*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0px;
}

.hero {
    background-color: #1F2937;
    color: white;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.second-text {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}